{% extends 'backoffice/index.html.twig' %}

{% block title %}Gérer mes utilisateurs :: Webcraft :: Craft magic websites within minutes ! ::{% endblock %}
{% block specificcss %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/setup.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ asset('css/backoffice.css') }}" />
{% endblock %}


{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col s6">
			<h4 class="dashboard brown-text"><i class="fas fa-user fa-lg"></i> Gestion des utilisateurs</h4>
			<hr class="settings" />
		</div>
		<div class="col s6">
			<div class="dashboard right">
				<a href="#new_user" data-target="new_user"class="modal-trigger btn orange lighten-2 brown-text"><i class="fas fa-user-plus fa-lg"></i> <span>Ajouter un nouvel utilisateur</span></a>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col s12">
			<table class="bordered striped highlight responsive-table brown-text">
				<thead>
					<tr>
						<th>Pseudo</th>
						<th>Email</th>
						<th>Nom</th>
						<th>Prénom</th>
						<th>Genre</th>
						<th>Rôle</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
						<tr>
							<td>{{ user.username|e }}</td>
							<td>{{ user.useremail|e }}</td>
							<td>{{ user.userlastname|e }}</td>
							<td>{{ user.userfirstname|e }}</td>
							<td>{{ user.usergender|e }}</td>
							<td>{{ user.roles[0]|e }}</td>
							<td>
								<a href="" data-target="modify_user" class="btn orange lighten-2"><i class="far fa-edit brown-text"></i></a>
								<a href="{{ user.id|e }}" class="btn red darken-2"><i class="fa fa-trash white-text"></i></a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{# 
<div id="modify_user" class="modal">
    <div class="modal-content brown-text">
      <h4>Modifier un utilisateur</h4>
      <hr />
      {{ form_start(form) }}
		{% if not form.vars.valid %}
			<div class="error">
				{{ form_errors(form.username) }}
				{{ form_errors(form.user_email.first) }}
				{{ form_errors(form.user_email.second) }}
				{{ form_errors(form.password.first) }}
				{{ form_errors(form.password.second) }}
				{{ form_errors(form.user_first_name) }}
				{{ form_errors(form.user_last_name) }}
				{{ form_errors(form.user_gender) }}
			</div>		
        {% endif %}

		<div class="input-field">
			{{ form_label(form.username) }}
			{{ form_widget(form.username) }}
		</div>
		<div class="input-field">
			{{ form_label(form.user_email.first) }}
			{{ form_widget(form.user_email.first) }}
		</div>
		<div class="input-field">
			{{ form_label(form.user_email.second) }}
			{{ form_widget(form.user_email.second) }}
		</div>
		<div class="input-field">
			{{ form_label(form.password.first) }}
			{{ form_widget(form.password.first) }}
		</div>
		<div class="input-field">
			{{ form_label(form.password.second) }}
			{{ form_widget(form.password.second) }}
		</div>
			{{ form_label(form.user_gender) }}
			{{ form_widget(form.user_gender) }}
		<div class="input-field">
			{{ form_label(form.user_first_name) }}
			{{ form_widget(form.user_first_name) }}
		</div>
		<div class="input-field">
			{{ form_label(form.user_last_name) }}
			{{ form_widget(form.user_last_name) }}
		</div>
		
		<label>{{ form_label(form.roles) }}</label>
		<div class="input-field">
			{{ form_widget(form.roles) }}
		</div>
			
		
    </div>
    <div class="modal-footer">
		<button type="submit" class="modal-action modal-close waves-effect waves-light btn btn-success orange lighten-2"><i class="fas fa-paper-plane fa-lg"></i> Valider</button>
	{{ form_end(form) }}
    </div>
</div>
 #}
<div id="new_user" class="modal brown-text">
    <div class="modal-content">
      <h4>Ajouter un nouvel utilisateur</h4>
      <hr />
      {{ form_start(form) }}
		{% if not form.vars.valid %}
			<div class="error">
				{{ form_errors(form.username) }}
				{{ form_errors(form.user_email.first) }}
				{{ form_errors(form.user_email.second) }}
				{{ form_errors(form.password.first) }}
				{{ form_errors(form.password.second) }}
				{{ form_errors(form.user_first_name) }}
				{{ form_errors(form.user_last_name) }}
				{{ form_errors(form.user_gender) }}
			</div>		
        {% endif %}

		<div class="input-field">
			{{ form_label(form.username) }}
			{{ form_widget(form.username) }}
		</div>
		<div class="input-field">
			{{ form_label(form.user_email.first) }}
			{{ form_widget(form.user_email.first) }}
		</div>
		<div class="input-field">
			{{ form_label(form.user_email.second) }}
			{{ form_widget(form.user_email.second) }}
		</div>
		<div class="input-field">
			{{ form_label(form.password.first) }}
			{{ form_widget(form.password.first) }}
		</div>
		<div class="input-field">
			{{ form_label(form.password.second) }}
			{{ form_widget(form.password.second) }}
		</div>
			{{ form_label(form.user_gender) }}
			{{ form_widget(form.user_gender) }}
		<div class="input-field">
			{{ form_label(form.user_first_name) }}
			{{ form_widget(form.user_first_name) }}
		</div>
		<div class="input-field">
			{{ form_label(form.user_last_name) }}
			{{ form_widget(form.user_last_name) }}
		</div>
		
		<label>{{ form_label(form.roles) }}</label>
		<div class="input-field">
			{{ form_widget(form.roles) }}
		</div>
			
		
    </div>
    <div class="modal-footer">
		<button type="submit" class="modal-action modal-close waves-effect waves-light btn btn-success orange lighten-2"><i class="fas fa-paper-plane fa-lg"></i> Valider</button>
	{{ form_end(form) }}
    </div>
</div>
{% endblock %}

{% block specificjs %}
	<script type="text/javascript" src="{{ asset('js/account.js') }}"></script>
{% endblock %}
