{% extends 'backoffice/index.html.twig' %}

{% block title %}Messages Reçus :: WebCraft :: Make magic websites within minutes !{% endblock %}

{% block specificcss %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/setup.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/backoffice.css') }}"/>
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
            <div class="col s12 m12">
                <h4 class="dashboard brown-text">
                	<i class="far fa-envelope fa-lg"></i>
                	Mes messages reçus
                </h4>
                <hr class="left account" />
            </div>
        </div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col s12">
				<table class="bordered striped highlight responsive-table brown-text">
					<thead>
						<tr>
							<th>Expéditeur</th>
							<th>Email</th>
							<th>Date et heure d'envoi</th>
							<th>Objet</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						{% for message in messages %}
							<tr>
								<td>{{ message.username|e }}</td>
								<td>{{ message.useremail|e }}</td>
								<td>{{ message.messagedate|date("d/m/Y à H:i", "Europe/Paris") }}</td>
								<td>{{ message.messageobject|e }}</td>
								<td>
									<a href="{{ path('openmessage', {'id': message.messageid}) }}" class="btn orange lighten-2 tooltipped" data-position="top" data-tooltip="Voir"><i class="fas fa-search brown-text"></i></a>
									<a href="{{ path('deletemessage', {'id': message.messageid}) }}" class="btn red darken-2 tooltipped" data-position="right" data-tooltip="Supprimer"><i class="fa fa-trash white-text"></i></a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}

{% block specificjs %}
    <script type="text/javascript" src="{{ asset('js/account.js') }}"></script>
{% endblock %}