<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Colo Shop Template">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %}</title>
	{% block stylesheets %}
		<link rel="stylesheet" type="text/css" href="{{ asset('ColoShop/styles/bootstrap4/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('ColoShop/plugins/themify-icons/themify-icons.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('ColoShop/plugins/jquery-ui-1.12.1.custom/jquery-ui.css') }}">		
        <link href="{{ asset('ColoShop/plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="{{ asset('ColoShop/plugins/OwlCarousel2-2.2.1/owl.carousel.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('ColoShop/plugins/OwlCarousel2-2.2.1/owl.theme.default.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('ColoShop/plugins/OwlCarousel2-2.2.1/animate.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('ColoShop/styles/main_styles.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('ColoShop/styles/responsive.css') }}">
	{% endblock %}
	
	{% block specificcss %}
	{% endblock %}
</head>

	<body>

		<div class="super_container">

			<!-- Header -->

			<header class="header trans_300">

				<!-- Top Navigation -->

				{% include 'ColoShop/topnav.html.twig' %}

				<!-- Main Navigation -->

				{% include 'ColoShop/nav.html.twig' %}

			</header>

			<div class="fs_menu_overlay"></div>

			{% include 'ColoShop/hamnav.html.twig' %}
			

			{% block content %}
			{% endblock %}
			<!-- Newsletter -->

			{% include 'ColoShop/newsletter.html.twig' %}

			<!-- Footer -->

			{% include 'ColoShop/footer.html.twig' %}

			</div>

		{% block javascripts %}
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>
        <script src="{{ asset('ColoShop/plugins/jquery-ui-1.12.1.custom/jquery-ui.js') }}"></script>
		<script src="{{ asset('ColoShop/js/jquery-3.2.1.min.js') }}"></script>
		<script src="{{ asset('ColoShop/styles/bootstrap4/popper.js') }}"></script>
		<script src="{{ asset('ColoShop/styles/bootstrap4/bootstrap.min.js') }}"></script>
		<script src="{{ asset('ColoShop/plugins/Isotope/isotope.pkgd.min.js') }}"></script>
		<script src="{{ asset('ColoShop/plugins/OwlCarousel2-2.2.1/owl.carousel.js') }}"></script>
		<script src="{{ asset('ColoShop/plugins/easing/easing.js') }}"></script>
		<script src="{{ asset('ColoShop/js/custom.js') }}"></script>
		{% endblock %}
	</body>
</html>
