{% extends 'backoffice/index.html.twig' %}

{% block title %}Mes clients :: Webcraft :: Craft magic websites within minutes !{% endblock %}

{% block specificcss %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/setup.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/backoffice.css') }}">
{% endblock %}

{% block content %}
<div class="container-fluid brown-text">
	<div class="row">
		<div class="col s12">
			<h4 class="dashboard"><i class="fas fa-users fa-lg"></i> Mes clients</h4>
			<hr class="left account" />
		</div>
	</div>
</div>
<div class="container brown-text">
	<div class="row">
		<div class="col s12">
			  <table class="responsive-table striped bordered">
					  <tr>
                <th>Nom</th>
                <th>Prénom</th>
								<th>Email</th>
								<th>Adresse</th>
								<th>Code Postal</th>
								<th>Ville</th>
								<th>N° Fixe</th>
								<th>N° Portable</th>
						</tr>

								{% for Id in customers %}
									<tr>
								      
							        <td>{{ Id.user_first_name }}</td>
							        <td>{{ Id.user_last_name }}</td>
								    <td>{{ Id.user_email }}</td>
								 

					  	 	 
							        <td>{{ Id.user_address }}</td>
							        <td>{{ Id.user_zipCode }}</td>
								    <td>{{ Id.user_city }}</td>
							

								
		 							<td>{{ Id.user_mobilePhone }}</td>
		 							<td>{{ Id.user_landPhone }}</td>
									</tr>
						   {% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}

{% block specificjs %}

{% endblock %}
