{% extends 'backoffice/index.html.twig' %}

{% block title %}Mes clients :: Webcraft :: Craft magic websites within minutes !{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col s3">
			<h4></h4>
		</div>
		<div class="col s9">
			<h4>Mes clients</h4>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			  <table class="responsive-table striped bordered">
					  <tr>
                <th>Nom</th>
                <th>Prénom</th>
								<th>Email</th>
								<th>Adresse</th>
								<th>Code Postal</th>
								<th>Ville</th>
								<th>N° Fixe</th>
								<th>N° Portable</th>
						</tr>

								{% for Id in customers %}
									<tr>
								      
							        <td>{{ Id.user_first_name }}</td>
							        <td>{{ Id.user_last_name }}</td>
								    <td>{{ Id.user_email }}</td>
								 

					  	 	 
							        <td>{{ Id.user_address }}</td>
							        <td>{{ Id.user_zipCode }}</td>
								    <td>{{ Id.user_city }}</td>
							

								
		 							<td>{{ Id.user_mobilePhone }}</td>
		 							<td>{{ Id.user_landPhone }}</td>
									</tr>
						   {% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}

{% block specificjs %}

{% endblock %}
