{% extends ('front/ColoShop/base.html.twig') %}
{% block title %}Contact{% endblock %}
{% block content %}

	<div class="container contact_container">
		<div class="row">
			<div class="col">

			</div>
		</div>

		<!-- Map Container -->

		<div class="row">
			<div class="col">
				<div id="google_map">
					<div class="map_container">
						<div id="map"></div>
					</div>
				</div>
			</div>
		</div>

		<!-- Contact Us -->

		<div class="row">

			<div class="col-lg-6 contact_col">
				<div class="contact_contents">
					<h1>Contacter nous</h1>
					<p>Vous pouvez nous contacter par téléphone ou à l'aide du formulaire de contact.</p>
					<div>
						<p>04.60.50.40.30</p>
						<p>webcraft@gmail.com</p>
					</div>
					<div>
						<p>34000 Montpellier</p>
					</div>
					<div>
						<p>Ouvert de: 8.00h-18.00h Lundi-Samedi</p>
						<p>Dimanche: Fermer</p>
					</div>
				</div>		

			</div>

			<div class="col-lg-6 get_in_touch_col">
				<div class="get_in_touch_contents form-control">
					<h1>Rester en contact !</h1>
					<p>Remplissez ce formulaire pour nous contacter.</p>

			        	{{ form_start(contactform) }}


			        		<div class="form-group">
			           			{{ form_label(contactform.user_name) }}
			            		{{ form_widget(contactform.user_name) }}
			            	</div>
				            <div class="form-group">
					            {{ form_label(contactform.user_email) }}
					            {{ form_widget(contactform.user_email) }}
				            </div>
				            <div class="form-group">
					            {{ form_label(contactform.message_object) }}
					            {{ form_widget(contactform.message_object) }}
				            </div>
				            <div class="form-group">
					            {{ form_label(contactform.message_date) }}
					            {{ form_widget(contactform.message_date) }}
				            </div>
				            <div class="form-group">
					            {{ form_label(contactform.message_content) }}
					            {{ form_widget(contactform.message_content) }}
				            </div>
			  				<div class="right">
								<button type="submit" class="waves-effect waves-light btn btn-block btn-success orange lighten-2"><i class="fa fa-paper-plane fa-lg"></i> Valider</button>
							</div>
			        	{{ form_end(contactform) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}