{% extends ('front/ColoShop/base.html.twig') %}
{% block title %}Mon compte{% endblock %}
{% block specificcss %}
	<style>.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}
</style>
	{% endblock %}
{% block content %}

<div class="container">
  <div class="row col-md-12 d-flex justify-content-around">
                  <a href="{{ path('sitepublic',{'category_name':'Deconnexion'})}}" class="btn btn-primary">Déconnexion</a>

                  <!-- Button trigger modalAddress -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#adresseModal">
  Modifier une adresse
</button>

<!-- Modal -->
<div class="modal fade" id="adresseModal" tabindex="-1" role="dialog" aria-labelledby="adresseModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="adresseModalLabel">Adresse</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ form_start(formadresse) }}
        <div class="right">
      <button type="submit" class="waves-effect waves-light btn btn-success btn-block orange lighten-2"><i class="fa fa-paper-plane fa-lg"></i>Valider</button>
    </div>
        {{ form_end(formadresse) }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary">Sauvegarder</button>
      </div>
    </div>
  </div>
</div>


<!-- Button trigger modal Phone -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#phoneModal">
  Ajouter un téléphone
</button>
  
<!-- Modal -->
<div class="modal fade" id="phoneModal" tabindex="-1" role="dialog" aria-labelledby="phoneModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="phoneModalLabel">Téléphone</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      {{ form_start(formPhone) }}
        <div class="right">
            <button type="submit" class="waves-effect waves-light btn btn-success btn-block orange lighten-2"><i class="fa fa-paper-plane fa-lg"></i>Valider</button>
        </div>
      {{ form_end(formPhone) }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary">Sauvegarder</button>
      </div>
    </div>
  </div>
</div>
</div>
      <div class="row d-flex justify-content-around">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">{{ app.user.username }}</h3>
            </div>
            <div class="panel-body" align="center">
              <div class="row">
                <div class="col-md-3"> <img alt="User Pic" src="{{ asset(app.user.userprofilepicture) }}" class="img-circle img-responsive"> </div>
                <div class="col-md-10"> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Nom</td>
                        <td>{{ app.user.userfirstname }}</td>
                      </tr>
                      <tr>
                        <td>Prénom</td>
                        <td>{{ app.user.userlastname }}</td>
                      </tr>
                         <tr>
                             <tr>
                        <td>Genre</td>
                        <td>{{ app.user.usergender }}</td>
                      </tr>
                                            <tr>
                        <td>Ville</td>
                        <td>{% for b in profil %}
                        	{% if b.id == app.user.id %}
	                        		{{ b.user_city }}              		
	                     		{% endif %}
	                     		{% endfor %}
	                     	</td>
                      </tr>
                        <tr>
                        <td>Adresse</td>
                        <td>
                        	{% for b in profil %}
	                     		{% if b.id == app.user.id %}
	                        		{{ b.user_address }}
	                     		
	                     		{% endif %}
		                        
	                    {% endfor %}
                        </td>
                      </tr>
                      <tr>
                        <td>Zip Code</td>
                        <td>{% for b in profil %}
                        	{% if b.id == app.user.id %}
	                        		{{ b.user_zipCode }}              		
	                     		{% endif %}
		           
	                    {% endfor %}
	                	</td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td>{{ app.user.useremail }}</td>
                      </tr>
                        <td>Téléphone</td>
                        <td>
                        	{% for b in profil %}
                        		{% if b.id == app.user.id %}                       			
                        			{{ b.user_landPhone }}(Fixe)<br>
                        		<br>{{ b.user_mobilePhone }}(Mobile)
                        		{% endif %}
                        		{% endfor %}
                        </td>                          
                      </tr>
                    </tbody>
                  </table>
                  
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>



{% endblock %}
{% block specificjs %}
	<script>
	$(document).ready(function() {
    var panels = $('.user-infos');
    var panelsButton = $('.dropdown-user');
    panels.hide();

    //Click dropdown
    panelsButton.click(function() {
        //get data-for attribute
        var dataFor = $(this).attr('data-for');
        var idFor = $(dataFor);

        //current button
        var currentButton = $(this);
        idFor.slideToggle(400, function() {
            //Completed slidetoggle
            if(idFor.is(':visible'))
            {
                currentButton.html('<i class="glyphicon glyphicon-chevron-up text-muted"></i>');
            }
            else
            {
                currentButton.html('<i class="glyphicon glyphicon-chevron-down text-muted"></i>');
            }
        })
    });


    $('[data-toggle="tooltip"]').tooltip();

    $('button').click(function(e) {
        e.preventDefault();
        alert("This is a demo.\n :-)");
    });
});
	</script>
{% endblock %}