{% extends ('front/ColoShop/base.html.twig') %}

{% block title %}{{ produits.productName }}{% endblock %}

{% block specificcss %}
    <link rel="stylesheet" type="text/css" href="{{ asset('ColoShop/styles/single_styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('ColoShop/styles/single_responsive.css') }}">
{% endblock %}

{% block content %}
	<div class="container single_product_container">
		<div class="row">
			<div class="col-lg-7">
				<div class="single_product_pics">
					<div class="row">
						<div class="col-lg-12 image_col order-lg-2 order-1">
							<div class="single_product_image">
								<img class="single_product_image_background" src="{{ asset(images.image) }}">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="product_details">
					<div class="product_details_title">
						<h2>{{ produits.productName }}</h2>
						<p>{{ produits.productDescription }}</p>
					</div>
					<div class="free_delivery d-flex flex-row align-items-center justify-content-center">
						<span class="ti-truck"></span><span>Livraison gratuite/span>
					</div>
                    {% if produits.productSale is not null %}
					<div class="original_price" style="margin-right: 1em;">{{ produits.productPrice }}€</div>
                    {% endif %}
					<div class="product_price" style="margin-right: 1em;">{{ produits.productPrice * (1 - (produits.productSale /100)) }}€</div>
					<ul class="star_rating" style="margin: 2em 0">
						<li><i class="fa fa-star" aria-hidden="true"></i></li>
						<li><i class="fa fa-star" aria-hidden="true"></i></li>
						<li><i class="fa fa-star" aria-hidden="true"></i></li>
						<li><i class="fa fa-star" aria-hidden="true"></i></li>
						<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
					</ul>
                    <div class="row justify-content-around">
                        {% if stock is not empty %}
                            <select class="custom-select">
                                <option selected>Choisir une taille</option>
                                {% set array = [] %}
                                {% for stk in stock %}
                                    {% if stk.sizeValue not in array %}
                                    <option value="{{ stk.sizeValue }}">{{ stk.sizeValue }}</option>
                                    {% set array = array|merge([stk.sizeValue]) %}
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <select class="custom-select">
                                <option selected>Choisir une couleur</option>
                                {% set array2 = [] %}
                                {% for stk in stock %}
                                    {% if stk.colorValue not in array2 %}
                                        <option value="{{ stk.colorValue }}">{{ stk.colorValue }}</option>
                                        {% set array2 = array2|merge([stk.colorValue]) %}
                                    {% endif %}
                                {% endfor %}
                            </select>
                        {% else %}
                            <p>Le produit est en rupture de stock !</p>
                        {% endif %}
                    </div>
					<div class="quantity d-flex flex-column flex-sm-row align-items-sm-center row justify-content-around">
                        {% if stock is not empty %}
						<span>Quantité</span>
						<div class="quantity_selector">
							<span class="minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
							<span id="quantity_value">1</span>
							<span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
						</div>
						    <div class="btn btn-danger" style="margin-left: 20px; cursor: pointer;">Ajouter au panier</div>
					    {% else %}
                            <div class="btn btn-danger disabled">Rupture de stock</div>
                        {% endif %}
                    </div>
				</div>
			</div>
		</div>

	</div>
{% endblock %}

{% block specificjs %}
<script>
    $(document).ready(function () {
       var i = 1;

       $(".minus").click(function () {

           if (i > 1) {
               i--;
               $("#quantity_value").text(i);
           }
       });

        $(".plus").click(function () {

            if (i < 20) {
                i++;
                $("#quantity_value").text(i);
            }
        });
    });
</script>
{% endblock %}