{% extends 'backoffice/index.html.twig' %}

{% block specificcss %}
	
{% endblock %}


{% block content %}
<div class="container">
	<div class="row">
        {{ form_start(form) }}
		<div class="input-field">
            {{ form_label(form.mediaName) }}
            {{ form_widget(form.mediaName) }}
		</div>
		<div class="input-field">
            {{ form_label(form.mediaDescription) }}
            {{ form_widget(form.mediaDescription) }}
		</div>
            {{ form_label(form.mediaType) }}
            {{ form_widget(form.mediaType) }}
		<div class="file-field input-field">
			<div class="btn">
				<span>Transmettre un fichier</span>
                {{ form_widget(form.mediaSrc) }}
			</div>
			<div class="file-path-wrapper">
				<input class="file-path validate" type="text">
			</div>
		</div>
		<div class="right">
			<button type="submit" class="waves-effect waves-light btn btn-success orange lighten-2"><i class="fas fa-paper-plane fa-lg"></i> Valider</button>
		</div>
        {{ form_end(form) }}
	</div>
</div>

{% endblock %}

{% block specificjs %}
    <script>
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>
{% endblock %}
