<div class="row">
  <div class="col-md-3 col-md-push-2">
    <div class="info">
      <div>
          <i class="fa fa-map-marker"></i>
          <p>A108 Adam Street<br>New York, NY 535022</p>
        </div>

        <div>
          <i class="fa fa-envelope"></i>
          <p>info@example.com</p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>+1 5589 55488 55s</p>
        </div>
    </div>
  </div>

  <div class="col-md-5 col-md-push-2">
    <div class="form">
      {{ form_start(contactform, { "attr" : { "class" : "contactForm" }}) }}
      {% if not contactform.vars.valid %}
        <div class="errormessage">
          {{ form_errors(contactform.user_name) }}
          {{ form_errors(contactform.user_email) }}
          {{ form_errors(contactform.message_object) }}
          {{ form_errors(contactform.message_content) }}
        </div>
      {% endif %}
      <div class="form-group">
        {{ form_label(contactform.user_name) }}
        {{ form_widget(contactform.user_name) }}
      </div>
      <div class="form-group">
        {{ form_label(contactform.user_email) }}
        {{ form_widget(contactform.user_email) }}
      </div>
      <div class="form-group hidden">
        {{ form_label(contactform.message_date) }}
        {{ form_widget(contactform.message_date) }}
      </div>
      <div class="form-group">
        {{ form_label(contactform.message_object) }}
        {{ form_widget(contactform.message_object) }}
      </div>
      <div class="form-group">
        {{ form_label(contactform.message_content) }}
        {{ form_widget(contactform.message_content) }}
      </div>
      <div class="text-center"><button type="submit">Envoyer</button></div>
      {{ form_end(contactform) }}
    </div>
  </div>
</div>
