<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  
  <title>{% block title %}
    {{ siteinfo.optionname }}
  {% endblock %}</title>
  
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="{% block metadescription %}{% endblock %}" name="description">

  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

  <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
  <link href="favicon.ico" rel="shortcut icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{{ asset('Imperial/lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{{ asset('Imperial/lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
  <link href="{{ asset('Imperial/lib/animate-css/animate.min.css') }}" rel="stylesheet">
  <link href="//cdn.rawgit.com/noelboss/featherlight/1.7.12/release/featherlight.min.css" type="text/css" rel="stylesheet" />

  <!-- Main Stylesheet File -->
  <link href="{{ asset('Imperial/css/style.css') }}" rel="stylesheet">

  {% if design %}
    {{ include('backoffice/customs/design.css.twig') }}
  {% endif %}
</head>

<body>
  <div id="preloader"></div>

  <section id="hero">
    <div class="hero-container">
      <div class="wow fadeIn">
        <div class="hero-logo">
          <img class="" src="{{ logo.optionvalue }}" alt="">
        </div>

        <h2>{{ siteinfo.optionvalue }}</h2>

        <div class="actions">
          {% for page in menu %}
             {% for i in pages|slice(3) %}
                 {% if page.pageName == i.pageName and i.pageStatus == "afficher" %}
                    <a href="#{{ page.pagename }}" class="btn-services">{{ i.pagetitle|replace({"Prêts ?" : "Télécharger"}) }}</a>
                {% endif %}
            {% endfor %}     
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="#hero"><img src="{{ logo.optionvalue }}" alt="" title="" /></img></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          {% set compt = [] %}
              {% for page in menu %}
                 {% for i in pages|sort %}
                     {% if page.pageName == i.pageName and i.pageStatus == "afficher" %}
                        <li><a href="#{{ page.pagename }}">{{ page.pagename }}</a></li>
                    {% endif %}
                {% endfor %}
              {% endfor %}
          {% if contact.sitetype == 3 %}
            <li><a href="#contact">Contact</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </header>

  {% set array = [] %}

{% for page in pages %}
  {% for currentpage in menu if currentpage.pagename not in array %}

        {% if currentpage.pagename == page.pagename and currentpage.menuRank == 1 %}
            {% set array = array|merge([currentpage.pagename]) %}
            {% if page.pageStatus == "afficher" %}
            <section id="about">
              <div id="{{ page.pagename }}" class="container wow fadeInUp">
                <div class="row">
                  <div class="col-md-12">
                    <h3 class="section-title">{{ page.pagetitle }}</h3>
                    <div class="section-title-divider"></div>
                    <div class="section-description">
                      {{ page.pagecontent|raw }}
                    </div>
                  </div>
                </div>
              </div>
            </section>
            {% endif %}

      {% endif %}

      {% if currentpage.pagename == page.pagename and currentpage.menuRank == 2 %}
          {% set array = array|merge([currentpage.pagename]) %}
            {% if page.pageStatus == "afficher" %}
             <section id="services">
              <div id="{{ page.pagename }}" class="container wow fadeInUp">
                <div class="row">
                  <div class="col-md-12">
                    <h3 class="section-title">{{ page.pagetitle }}</h3>
                    <div class="section-title-divider"></div>
                    <div class="section-description">
                      {{ page.pagecontent|raw }}
                    </div>
                  </div>
                </div>
              </div>
            </section>
            {% endif %}
      {% endif %}

      {% if currentpage.pagename == page.pagename and currentpage.menuRank == 3 %}
          {% set array = array|merge([currentpage.pagename]) %}
            {% if page.pageStatus == "afficher" %}
        <section id="parallax">
          <div id="{{ page.pagename }}" class="container wow fadeInUp">
            <div class="row">
              <div class="col-md-12">
                <h3 class="section-title">{{ page.pagetitle }}</h3>
                <div class="section-title-divider"></div>
                <p class="section-description"></p>
                <h2 class="parallax-title"></h2>
                <div class="section-description parallax-text">
                  {{ page.pagecontent|raw }}

                </div>
              </div>              
            </div>
          </div>
        </section>
      {% endif %}
      {% endif %}

      {% if currentpage.pagename == page.pagename and currentpage.menuRank == 4 %}
          {% set array = array|merge([currentpage.pagename]) %}
            {% if page.pageStatus == "afficher" %}
        <section id="regular">
          <div id="{{ page.pagename }}" class="container wow fadeInUp">
            <div class="row">
              <div class="col-md-12">
                <h3 class="section-title">{{ page.pagetitle }}</h3>
                <div class="section-title-divider"></div>
                <div class="section-description">{{ page.pagecontent|raw }}</div>
              </div>
            </div>
          </div>
        </section>
          {% endif %}
      {% endif %}

  {% endfor %}
{% endfor %}

  {% if portfolio.sitetype != 0 %}
  <section id="portfolio">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Portfolio</h3>
          <div class="section-title-divider"></div>
          <p class="section-description"></p>
        </div>
      </div>

      <div class="row">
        {% for media in medias %}
        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url({{ media.mediasrc }});" href="#" data-featherlight="{{ media.mediasrc }}">
            <div class="details">
              <h4>{{ media.medianame }}</h4>
              <span>{{ media.mediadescription }}</span>
            </div>
          </a>
        </div>

        {% endfor %}
      </div>
    </div>
  </section>
  {% endif %}

  {% if newsletter.sitetype != 0 %}
    <section id="subscribe">
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-8">
            <h3 class="subscribe-title">Newsletter</h3>
            <p class="subscribe-text">Inscrivez-vous à notre newsletter et soyez informés les premiers de nos futures mises à jour !</p>
            <div class="suscribe-text">
              {{ form_start(newsletterForm) }}

              <label>{{ form_label(newsletterForm.emailValue) }}</label>
              <div class="form-group">
                {{ form_widget(newsletterForm.emailValue, { 'attr' : { 'class' : 'form-control' }}) }}
              </div>
            </div>
          </div>
          <div class="col-md-4 subscribe-btn-container">
            <button type="submit" class="subscribe-btn" href="#">Inscrivez-vous !</a>
          </div>
            {{ form_end(newsletterForm) }}
        </div>
      </div>
    </section>


  {% endif %}

  {% if contact.sitetype == 3 %}
  <section id="contact">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Contact</h3>
          <div class="section-title-divider"></div>
          <p class="section-description"></p>
        </div>
      </div>
      {% include 'front/Imperial/contact.html.twig' %}
    </div>
  </section>
  {% endif %}

  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright">
          &copy; Copyright 2018 <strong>{{ siteinfo.optionname }}</strong>. Tous droits réservés.
          </div>
        </div>
      </div>
    </div>
  </footer>


<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Required JavaScript Libraries -->
  <script src="{{ asset('Imperial/lib/jquery/jquery.min.js') }}"></script>
  <script src="{{ asset('Imperial/lib/bootstrap/js/bootstrap.min.js') }}"></script>
  <script src="{{ asset('Imperial/lib/superfish/hoverIntent.js') }}"></script>
  <script src="{{ asset('Imperial/lib/superfish/superfish.min.js') }}"></script>
  <script src="{{ asset('Imperial/lib/morphext/morphext.min.js') }}"></script>
  <script src="{{ asset('Imperial/lib/wow/wow.min.js') }}"></script>
  <script src="{{ asset('Imperial/lib/stickyjs/sticky.js') }}"></script>
  <script src="{{ asset('Imperial/lib/easing/easing.js') }}"></script>

  <!-- Template Specisifc Custom Javascript File -->
  <script src="{{ asset('Imperial/js/custom.js') }}"></script>
  <script type="text/javascript" src="{{ asset('js/featherlight.min.js') }}"></script>


</body>

</html>
