<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  
  <title>{% block title %}
    {{ siteinfo.optionname }}
  {% endblock %}</title>
  
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="{% block metadescription %}{% endblock %}" name="description">

  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

  <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
  <link href="favicon.ico" rel="shortcut icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{{ asset('Imperial/lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{{ asset('Imperial/lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
  <link href="{{ asset('Imperial/lib/animate-css/animate.min.css') }}" rel="stylesheet">
  <link href="//cdn.rawgit.com/noelboss/featherlight/1.7.12/release/featherlight.min.css" type="text/css" rel="stylesheet" />

  <!-- Main Stylesheet File -->
  <link href="{{ asset('Imperial/css/style.css') }}" rel="stylesheet">
</head>

<body>
  <div id="preloader"></div>

  <section id="hero" style="background: url('{{ design.getHeaderImg }}') top center fixed">
    <div class="hero-container">
      <div class="wow fadeIn">
        <div class="hero-logo">
          <img class="" src="{{ logo.optionvalue }}" alt="">
        </div>

        <h1>{{ siteinfo.optionname }}</h1>
        <h2>{{ siteinfo.optionvalue }}</h2>

        <div class="actions">
          <a href="#about" class="btn-get-started">Get Stated</a>
          <a href="#services" class="btn-services">Our Services</a>
        </div>
      </div>
    </div>
  </section>

  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="#hero"><img src="{{ logo.optionvalue }}" alt="" title="" /></img></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          {% set compt = [] %}
              {% for page in menu %}
                 {% for i in pages|sort %}
                     {% if page.pageName == i.pageName and i.pageStatus == "afficher" %}
                        <li><a href="#{{ page.pagename }}">{{ page.pagename }}</a></li>
                    {% endif %}
                {% endfor %}
              {% endfor %}
          {% if contact.sitetype == 3 %}
            <li><a href="#contact">Contact</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </header>

{# {% for page in pages %}
  {% set compt = compt|merge([page.pageid]) %}
{% endfor %} #}

  {% set array = [] %}

{% for page in pages|sort %}
  {% for currentpage in menu if currentpage.pagename not in array %}

        {% if currentpage.pagename == page.pagename and currentpage.menuRank == 1 %}
            {% set array = array|merge([currentpage.pagename]) %}
            {% if page.pageStatus == "afficher" %}
            <section id="about">
              <div id="{{ page.pagename }}" class="container wow fadeInUp">
                <div class="row">
                  <div class="col-md-12">
                    <h3 class="section-title">{{ page.pagename }}</h3>
                    <div class="section-title-divider"></div>
                    <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</p>
                  </div>
                </div>
              </div>
              <div class="container about-container wow fadeInUp">
                <div class="row">
                  <div class="col-md-6 col-md-push-6 about-content">
                    <h2 class="about-title">{{ page.pagename }}</h2>
                    <p class="about-text">
                      {{ page.pagecontent|raw }}
                    </p>
                  </div>
                </div>
              </div>
            </section>
            {% endif %}

      {% endif %}

      {% if currentpage.pagename == page.pagename and currentpage.menuRank == 2 %}
          {% set array = array|merge([currentpage.pagename]) %}
            {% if page.pageStatus == "afficher" %}
             <section id="services">
              <div id="{{ currentpage.pagename }}" class="container wow fadeInUp">
                <div class="row">
                  <div class="col-md-12">
                    <h3 class="section-title">{{ currentpage.pagename }}</h3>
                    <div class="section-title-divider"></div>
                    <div class="section-description"></div>
                  </div>
                </div>

                <div class="row">
                 {{ page.pagecontent|raw }}
                </div>
              </div>
            </section>
            {% endif %}
      {% endif %}

      {% if currentpage.pagename == page.pagename and currentpage.menuRank == 3 %}
          {% set array = array|merge([currentpage.pagename]) %}
            {% if page.pageStatus == "afficher" %}
        <section id="parallax">
          <div id="{{ page.pagetitle }}" class="container wow fadeInUp">
            <div class="row">
              <div class="col-md-12">
                <h3 class="section-title">{{ page.pagetitle }}</h3>
                <div class="section-title-divider"></div>
                <p class="section-description"></p>
                <h2 class="parallax-title">{{ page.pagename }}</h2>
                <div class="parallax-text">
                  {{ page.pagecontent|raw }}

                </div>
              </div>              
            </div>
          </div>
        </section>
      {% endif %}
      {% endif %}

      {% if currentpage.pagename == page.pagename and currentpage.menuRank == 4 %}
          {% set array = array|merge([currentpage.pagename]) %}
            {% if page.pageStatus == "afficher" %}
        <section id="regular">
          <div id="{{ page.pagetitle }}" class="container wow fadeInUp">
            <div class="row">
              <div class="col-md-12">
                <h3 class="section-title">{{ page.pagetitle }}</h3>
                <div class="section-title-divider"></div>
                <div class="section-description">{{ page.pagecontent|raw }}</div>
              </div>
            </div>
          </div>
        </section>
      {% endif %}
      {% endif %}

{% endfor %}
{% endfor %}
{#   <section id="subscribe">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-8">
          <h3 class="subscribe-title">Subscribe For Updates</h3>
          <p class="subscribe-text">Join our 1000+ subscribers and get access to the latest tools, freebies, product announcements and much more!</p>
        </div>
        <div class="col-md-4 subscribe-btn-container">
          <a class="subscribe-btn" href="#">Subscribe Now</a>
        </div>
      </div>
    </div>
  </section> #}

  <!--==========================
  Porfolio Section
  ============================-->
  {% if portfolio.sitetype != 0 %}
  <section id="portfolio">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Portfolio</h3>
          <div class="section-title-divider"></div>
          <p class="section-description"></p>
        </div>
      </div>

      <div class="row">
        {% for media in medias %}
        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url({{ media.mediasrc }});" href="#" data-featherlight="{{ media.mediasrc }}">
            <div class="details">
              <h4>{{ media.medianame }}</h4>
              <span>{{ media.mediadescription }}</span>
            </div>
          </a>
        </div>

        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}

  <!--==========================
  Testimonials Section
  ============================-->
  <section id="testimonials">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Testimonials</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Erdo lide, nora porodo filece, salvam esse se, quod concedimus ses haec dicturum fuisse</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="profile">
            <div class="pic"><img src="{{ asset('Imperial/img/client-1.jpg') }}" alt=""></div>
            <h4>Saul Goodman</h4>
            <span>Lawless Inc</span>
          </div>
        </div>
        <div class="col-md-9">
          <div class="quote">
            <b><img src="{{ asset('Imperial/img/quote_sign_left.png') }}" alt=""></b> Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper. <small><img src="{{ asset('Imperial/img/quote_sign_right.png') }}" alt=""></small>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <div class="quote">
            <b><img src="{{ asset('Imperial/img/quote_sign_left.png') }}" alt=""></b> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis architecto beatae. <small><img src="{{ asset('Imperial/img/quote_sign_right.png') }}" alt=""></small>
          </div>
        </div>
        <div class="col-md-3">
          <div class="profile">
            <div class="pic"><img src="{{ asset('Imperial/img/client-2.jpg') }}" alt=""></div>
            <h4>Sara Wilsson</h4>
            <span>Odeo Inc</span>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!--==========================
  Team Section
  ============================-->
  <section id="team">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Our Team</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img src="{{ asset('Imperial/img/team-1.jpg') }}" alt=""></div>
            <h4>Walter White</h4>
            <span>Chief Executive Officer</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img src="{{ asset('Imperial/img/team-2.jpg') }}" alt=""></div>
            <h4>Sarah Jhinson</h4>
            <span>Product Manager</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img src="{{ asset('Imperial/img/team-3.jpg') }}" alt=""></div>
            <h4>William Anderson</h4>
            <span>CTO</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img src="{{ asset('Imperial/img/team-4.jpg') }}" alt=""></div>
            <h4>Amanda Jepson</h4>
            <span>Accountant</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!--==========================
  Contact Section
  ============================-->
  {% if contact.sitetype == 3 %}
  <section id="contact">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Contact</h3>
          <div class="section-title-divider"></div>
          <p class="section-description"></p>
        </div>
      </div>
      {% include 'front/Imperial/contact.html.twig' %}
    </div>
  </section>
  {% endif %}

  <!--==========================
  Footer
============================-->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright">
          {% block footer %}  &copy; Copyright <strong>{{ siteinfo.optionname }}</strong>. Tous droits réservés. {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Required JavaScript Libraries -->
  <script src="{{ asset('Imperial/lib/jquery/jquery.min.js') }}"></script>
  <script src="{{ asset('Imperial/lib/bootstrap/js/bootstrap.min.js') }}"></script>
  <script src="{{ asset('Imperial/lib/superfish/hoverIntent.js') }}"></script>
  <script src="{{ asset('Imperial/lib/superfish/superfish.min.js') }}"></script>
  <script src="{{ asset('Imperial/lib/morphext/morphext.min.js') }}"></script>
  <script src="{{ asset('Imperial/lib/wow/wow.min.js') }}"></script>
  <script src="{{ asset('Imperial/lib/stickyjs/sticky.js') }}"></script>
  <script src="{{ asset('Imperial/lib/easing/easing.js') }}"></script>

  <!-- Template Specisifc Custom Javascript File -->
  <script src="{{ asset('Imperial/js/custom.js') }}"></script>
  <script type="text/javascript" src="{{ asset('js/featherlight.min.js') }}"></script>


</body>

</html>
