{% extends 'backoffice/index.html.twig' %}

{% block title %}Gérer mes commandes :: Webcraft :: Craft magic websites within minutes ! ::{% endblock %}
{% block specificcss %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/setup.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ asset('css/backoffice.css') }}" />
{% endblock %}


{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col s6">
			<h4 class="dashboard brown-text"><i class="fas fa-user fa-lg"></i> Gestion des commandes</h4>
			<hr class="settings" />
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col s12 brown-text">
	      <h5>Modifier une commande</h5>


			<label>Status</label>
			<div class="input-field">
				{{ form_start(form) }}
				{{ form_widget(form.orderStatus) }}
			</div>
		    <div class="right">
		    	<a href="{{ path('manageorders') }}"class="btn brown lighten-1 white-text"><i class="fas fa-chevron-circle-left fa-lg"></i> <span>Retour</span></a>
				<button type="submit" class="modal-action modal-close waves-effect waves-light btn btn-success orange lighten-2"><i class="fas fa-paper-plane fa-lg"></i> Valider</button>
			</div>
		{{ form_end(form) }}
		</div>
    </div>
</div>
{% endblock %}

{% block specificjs %}
	<script type="text/javascript" src="{{ asset('js/account.js') }}"></script>
{% endblock %}
