{% extends 'backoffice/index.html.twig' %}

{% block title %}Mes commandes :: Webcraft :: Craft magic websites within minutes !{% endblock %}

{% block specificcss %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/setup.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ asset('css/backoffice.css') }}" />
{% endblock %}

{% block content %}
<div class="container-fluid brown-text">
	<div class="row">
		<div class="col s12">
			<h4 class="dashboard">
				<i class="fas fa-cart-arrow-down fa-lg"></i>
				 Commandes reçues
			</h4>
			<hr class="left account" />
		</div>
	</div>
</div>
<div class="container brown-text">
	<div class="row">
		<div class="col s12">
		
		{% if orders is empty %}	
			<div class="card-panel brown lighten-4">
				<i class="fas fa-info-circle fa-lg"></i> 
				Vous n'avez pas encore reçu de commande.
			</div>
		{% else %}
		  	<table class="responsive-table striped bordered">
				<tr>
            		<th>Commande n°</th>
            		<th>Client</th>
					<th>Date de la commande</th>
					<th>Statut de la commande</th>
				</tr>
				<tr>
				  {% for orderId in orders %}
				   	<td>{{ orderId.orderId }}</td>
				   	<td>{{ orderId.id }}</td>
				 	<td>{{ orderId.orderDate|date("m/d/Y") }}</td>
				 	<td>{{ orderId.orderStatus }}</td>
 	 			  {% endfor %}
 	 			</tr>
			</table>
		{% endif %}
		</div>
	</div>
</div>
{% endblock %}

{% block specificjs %}

{% endblock %}
