{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/materialize.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/jquery.webui-popover.css') }}">
    <link rel="stylesheet" href="{{ asset('css/fonts.css') }}" />
	<link rel="stylesheet" href="{{ asset('css/backoffice.css') }}" />
{% endblock %}

{% block specificcss %}
{% endblock %}

{% block nav %}
    {% block logo %}
        <a href="{{ path('dashboard') }}"><img src="{{ asset('img/webcraft_logo.png') }}" alt="WebCraft" class="brand-logo" /></a>
    {% endblock %}
	<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="fas fa-bars fa-2x"></i></a>
    <ul class="right hide-on-med-and-down center-align">
    	<li id="pages" class="mainNav pages"><a><i class="far fa-folder-open fa-2x"></i><p> Mes Pages</p></a></li>
        <li id="medias" class="mainNav medias"><a><i class="far fa-images fa-2x"></i> <p>Mes Médias</p></a></li>
        <li id="design" class="mainNav design"><a><i class="fas fa-paint-brush fa-2x"></i> <p>Personnalisation</p></a></li>
        <li id="empty"></li>

        {% if sitetype == true %}
        <li id="products" class="mainNav products"><a><i class="fab fa-shirtsinbulk fa-2x"></i> <p>Mes produits</p></a></li>
        <li id="orders" class="mainNav orders"><a><i class="fas fa-shopping-cart fa-2x"></i> <p>Mes commandes</p></a></li>
        <li id="customers" class="mainNav customers"><a><i class="fas fa-users fa-2x"></i> <p>Mes clients</p></a></li>
        {% endif %}

        <li id="parameters" class="mainNav parameters"><a><i class="fas fa-cogs fa-2x"></i> <p>Mon site</p></a></li>
        <li id="user_settings" class="user_settings"><a><i class="fas fa-user fa-2x"></i></a></li>
    </ul>
    <ul id="subnav" class="hide">
    {% block submenu %}
      {# Pages Submenu #}
      <li class="submenu Pages hide"><a href="{{ path('newpage') }}" class="Pages"><span><i class="far fa-plus-square fa-lg"></i> Créer une page</span></a></li>
      <li class="submenu Pages hide"><a class="Pages"><span><i class="far fa-list-alt fa-lg"></i> Catégories</span></a></li>
      <li class="submenu Pages hide"><a class="Pages"><span><i class="far fa-copy fa-lg"></i> Gérer les pages</span></a></li>

      {# Medias Submenu #}
        <li class="submenu Medias hide"><a class="Medias"><span><i class="far fa-plus-square fa-lg"></i> Ajouter un média</span></a></li>
        <li class="submenu Medias hide"><a href="{{ path('gallery') }}" class="Medias"><span><i class="fas fa-th fa-lg"></i> Bibliothèque de médias</span></a></li>

        {# Design Submenu #}
      <li class="submenu Design hide"><a class="Design"><span><i class="fas fa-paint-brush fa-lg"></i> Design du site</span></a></li>
      <li class="submenu Design hide"><a class="Design"><span><i class="fas fa-list-ol fa-lg"></i> Menu du site</span></a></li>
      <li class="submenu Design hide"><a class="Design"><span><i class="fas fa-toggle-on fa-lg"></i> Options</span></a></li>

      {# Products Submenu #}
        <li class="submenu Products hide"><a href="{{ path('addproducts') }}" class="Products"><span><i class="far fa-plus-square fa-lg"></i> Ajouter un produit</span></a></li>
        <li class="submenu Products hide"><a href="{{ path('categorieproduct') }}" class="Products"><span><i class="far fa-list-alt fa-lg"></i> Catégories</span></a></li>
        <li class="submenu Products hide"><a href="{{ path('manageproduct') }}" class="Products"><span><i class="far fa-barcode fa-lg"></i> Gérer les produits</span></a></li>

        {# Orders Submenu #}
        <li class="submenu Orders hide"><a href="{{ path('orderreceived') }}" class="Orders"><span><i class="fas fa-cart-arrow-down fa-lg"></i> Mes commandes reçues</span></a></li>
        <li class="submenu Orders hide"><a href="{{ path('manageorders') }}" class="Orders"><span><i class="fas fa-cubes fa-lg"></i> Gérer les commandes</span></a></li>

        {# Parameters Submenu #}
        <li class="submenu Parameters hide"><a class="Parameters"><span><i class="fas fa-cogs fa-lg"></i> Paramètres du site</span></a></li>
        <li class="submenu Parameters hide"><a class="Parameters"><span><i class="fas fa-user-plus fa-lg"></i> Gestion des utilisateurs</span></a></li>

        {% if sitetype == true %}
            <li class="submenu Parameters hide"><a href="{{ path('settingecommerce') }}" class="Parameters"><span><i class="fas fa-sliders-h fa-lg"></i> e-Commerce</span></a></li>

        {% endif %}

        <li class="submenu Parameters hide"><a class="Parameters"><span><i class="fas fa-wrench fa-lg"></i> Avis & Commentaires</span></a></li>

    {% endblock %}
    </ul>
    {% block sidenav %}
        <ul class="side-nav" id="mobile-demo">
        <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header left-align"><span><i class="far fa-folder-open fa-lg"></i> Mes pages</span></div>
              <div class="collapsible-body">
                <span><i class="far fa-plus-square fa-lg"></i> Créer une page</span>
                <span><i class="far fa-list-alt fa-lg"></i> Catégories</span>
                <span><i class="far fa-copy fa-lg"></i> Gérer les pages</span>
                </div>
            </li>
            <li>
              <div class="collapsible-header"><span><i class="far fa-images fa-lg"></i> Mes Médias</span></div>
              <div class="collapsible-body">
                <span><i class="far fa-plus-square fa-lg"></i> Ajouter un média</span>
                <span><i class="fas fa-th fa-lg"></i> Bibliothèque de médias</span></div>
            </li>
            <li>
              <div class="collapsible-header"><span><i class="fas fa-paint-brush fa-lg"></i> Personnalisation</span></div>
              <div class="collapsible-body">
                <span><i class="fas fa-paint-brush fa-lg"></i> Design du site</span>
                <span><i class="fas fa-list-ol fa-lg"></i> Menu du site</span>
                <span><i class="fas fa-toggle-on fa-lg"></i> Options</span></div>
            </li>
            <li>
              <div class="collapsible-header"><span><i class="fab fa-shirtsinbulk fa-lg"></i> Mes produits</span></div>
              <div class="collapsible-body">
                <span><i class="far fa-plus-square fa-lg"></i> Ajouter un produit</span>
                <span><i class="far fa-list-alt fa-lg"></i> Catégories</span>
                <span><i class="fas fa-barcode fa-lg"></i> Gérer les produits</span>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><span><i class="fas fa-shopping-cart fa-lg"></i> Mes commandes</span></div>
              <div class="collapsible-body">
                <span><i class="fas fa-cart-arrow-down fa-lg"></i> Mes commandes reçues</span>
                <span><i class="fas fa-cubes fa-lg"></i> Gérer les commandes</span>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><span><i class="fas fa-users fa-lg"></i> Mes clients</span></div>
              <div class="collapsible-body"><span><i class="fas fa-users fa-lg"></i> Voir mes clients</span></div>
            </li>
            <li>
              <div class="collapsible-header"><span><i class="fas fa-cogs fa-lg"></i> Mon site</span></div>
              <div class="collapsible-body">
                <span><i class="fas fa-cogs fa-lg"></i> Paramètres du site</span>
                <span><i class="fas fa-user-plus fa-lg"></i> Gestion des utilisateurs</span>
                <span><i class="fas fa-sliders-h fa-lg"></i> e-Commerce</span>
                <span><i class="fas fa-wrench fa-lg"></i> Avis & Commentaires</span>
                </div>
            </li>
            <li>
              <div class="collapsible-header"><span><a href="{{ path('user_account') }}"><i class="fas fa-user fa-lg"></i> Espace personnel</a></span></div>
              <div class="collapsible-body">
                <span><i class="fas fa-user fa-lg"></i> Mon compte</span>
                <span><a href="{{ path('logout') }}"><i class="fas fa-power-off fa-lg"></i> Déconnexion</a></span>
              </div>
            </li>
        </ul>
    </ul>
    {% endblock %}

    <div id="user_submenu">
        <ul>
            <li><a href="{{ path('user_account') }}"><i class="fas fa-user fa-lg"></i> Mon compte</a></li>
            <li><a href="{{ path('logout') }}"><i class="fas fa-power-off fa-lg"></i> Déconnexion</a></li>
        </ul>
    </div>
{% endblock %}


{% block content %}
{% endblock %}

{% block specificjs %}
{% endblock %}
