{% extends 'backoffice/index.html.twig' %}

{% block title %}Ajouter un produit :: WebCraft :: Make magic websites within minutes !{% endblock %}

{% block specificcss %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/setup.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/backoffice.css') }}">
{% endblock %}


{% block content %}
<div class="container-fluid">
	<div class="row">
        <div class="col m12 16">
            <h4 class="dashboard brown-text"><i class="far fa-plus-square fa-lg"></i> Ajouter un produit</h4>
            <hr class="left account" />
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        {{ form_start(form) }}
            {% if not form.vars.valid %}
                <div class="error">
                    {{ form_errors(form) }}
                </div>
            {% endif %}
            <div class="input-field">
                {{ form_label(form.product.productName) }}
                {{ form_widget(form.product.productName) }}
            </div>
            <div class="input-field">
                {{ form_label(form.product.productDescription) }}
                {{ form_widget(form.product.productDescription) }}
            </div>
            <div class="input-field">
                {{ form_label(form.product.productPrice) }}
                {{ form_widget(form.product.productPrice) }}
            </div>
            <div class="input-field">
                {{ form_label(form.product.productSale) }}
                {{ form_widget(form.product.productSale) }}
            </div>
            <div class="file-field input-field">
                 <div class="btn brown white-text">
                     <span>Transmettre un fichier</span>
                     {{ form_widget(form.image) }}
                 </div>
                 <div class="file-path-wrapper">
                     <input class="file-path validate" type="text">
                 </div>
            </div>
            <div class="right">
                <button type="submit" class="waves-effect waves-light btn btn-success orange lighten-2"><i class="fas fa-paper-plane fa-lg"></i> Valider</button>
            </div>
        {{ form_end(form) }}
	</div>
</div>
{% endblock %}

{% block specificjs %}
{% endblock %}
