{% extends 'backoffice/index.html.twig' %}

{% block title %}Ajouter un produit :: Webcraft :: Craft magic websites within minutes !{% endblock %}

{% block specificcss %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h4 class="dashboard brown-text">Ajouter un produit</h4>
            <p>Veuillez renseigner la taille de votre produit {% if sizes is not empty %}, ou sélectionnez-la dans le menu déroulant{% endif %}</p>

            {% set newArray = [] %}

            {% if sizes is not empty %}
                <div class="input-field col s4">
                    <select id="select">
                        <option value="" disabled selected>Choisissez une taille existante</option>
                    {% for size in sizes %}
                    {% if size.sizeValue not in newArray %}
                        <option>{{ size.sizeValue }}</option>
                        {% set newArray = newArray|merge([size.sizeValue]) %}
                    {% endif %}
                    {% endfor %}
                    </select>
                </div>
            {% endif %}

            {{ form_start(form) }}
                <div class="input-field">
                    <span id="category">
                        <label for="products_sizes[sizeValue]">Taille</label>
                        {{ form_widget(form.sizeValue) }}
                    </span>
                </div>
                <div class="input-field">
                    <label for="products_sizes[sizeStock]">Quantité</label>
                    {{ form_widget(form.sizeStock) }}
                </div>
                <div class="right">
                    <button type="submit" class="waves-effect waves-light btn btn-success brown lighten-2"><i class="fas fa-paper-plane fa-lg"></i> Retour</button>
                    <button type="submit" class="waves-effect waves-light btn btn-success green lighten-2"><i class="fas fa-paper-plane fa-lg"></i> Valider et ajouter une autre</button>
                    <button type="submit" class="waves-effect waves-light btn btn-success orange lighten-2"><i class="fas fa-paper-plane fa-lg"></i> Valider</button>
                </div>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}

{% block specificjs %}
    <script>
        function changeVal() {
            var newVal = $("select").val();
            $('#products_sizes_sizeValue').val("" + newVal + "");
        }

        $("select").change(changeVal);
    </script>
{% endblock %}
