<div class="container">
    <div class="row">

        {% set newArray = [] %}

        {% if colors is not empty %}
            <div class="input-field col s4">
                <select id="selectColor">
                    <option value="" disabled selected>Choisissez une Couleur existante</option>
                    {% for color in colors %}
                        {% if color.colorValue not in newArray %}
                            <option>{{ color.colorValue }}</option>
                            {% set newArray = newArray|merge([color.colorValue]) %}
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        {% endif %}

        <div class="col s12">
            {{ form_start(form) }}
            <div class="input-field">
                <label for="products_sizes[sizeValue]" id="color_label">Couleur</label>
                {{ form_widget(form.colorValue) }}
            </div>
            <div class="input-field">
                <label for="products_sizes[sizeStock]">Stock pour la couleur</label>
                {{ form_widget(form.colorStock) }}
            </div>
            <div class="right">
                <button type="submit" class="waves-effect waves-light btn btn-success orange lighten-2"><i class="fas fa-paper-plane fa-lg"></i> Valider</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#selectColor').material_select();

        function changeVal() {
            var newVal = $("#selectColor").val();
            $('#products_colors_colorValue').val("" + newVal + "");
            $('#color_label').addClass("active");
        }

        $("#selectColor").change(changeVal);
    });
</script>
