<div class="container">
    <div class="row">

        {% set newArray = [] %}

        {% if taxes is not empty %}
            <div class="row">
                <div class="input-field col s12">
                    <select id="inputTax">
                        <option value="" disabled selected>Choisissez une Taxe existante</option>
                        {% for taxe in taxes %}
                            {% if taxe.taxName not in newArray %}
                                <option>{{ taxe.taxName }} : {{ taxe.taxValue }}</option>
                                <input type="hidden" id="selectTax" value="{{ taxe.taxId }}">
                                {% set newArray = newArray|merge([taxe.taxName]) %}
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    {{ form_start(form) }}
                    <div class="input-field">
                        {{ form_widget(form.tax) }}
                    </div>
                </div>
                <div class="row">
                    <div class="left">
                        <a href="{{ path("managetaxes") }}" class="waves-effect waves-light btn btn-success brown darken-1"><i class="fas fa-euro-sign fa-lg"></i> Gérer mes taxes</a>
                    </div>
                    <div class="right">
                        <button type="submit" class="waves-effect waves-light btn btn-success orange lighten-2"><i class="fas fa-paper-plane fa-lg"></i> Valider</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        {% else %}
            <h4>Aucune taxe n'a été ajoutée.<br />Vous pouvez en ajouter en cliquant sur <a href="{{ path("managetaxes") }}">ce lien</a></h4>
        {% endif %}
    </div>
</div>
<script>
    $('#products_add_tax_tax').hidden;

    $(document).ready(function() {
        $('#inputTax').material_select();

        function changeVal() {
            var newVal = $("#selectTax").attr('value');
            $('#products_add_tax_tax').val("" + newVal + "");
        }

        $("#inputTax").change(changeVal);
    });
</script>
