<div class="container">
    <div class="row">

        {% set newArray = [] %}

        {% if sizes is not empty %}
            <div class="input-field col s4">
                <select id="selectSizes">
                    <option value="" disabled selected>Choisissez une Taille existante</option>
                    {% for size in sizes %}
                        {% if size.sizeValue not in newArray %}
                            <option>{{ size.sizeValue }}</option>
                            {% set newArray = newArray|merge([size.sizeValue]) %}
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        {% endif %}

        <div class="col s12">
            {{ form_start(form) }}
            <div class="input-field">
                <label for="products_sizes[sizeValue]" id="size_label">Taille</label>
                {{ form_widget(form.sizeValue) }}
            </div>
            <div class="input-field">
                <label for="products_sizes[sizeStock]">Stock pour la taille</label>
                {{ form_widget(form.sizeStock) }}
            </div>
            <div class="right">
                <button type="submit" class="waves-effect waves-light btn btn-success orange lighten-2"><i class="fas fa-paper-plane fa-lg"></i> Valider</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#selectSizes').material_select();

        function changeVal() {
            var newVal = $("#selectSizes").val();
            $('#products_sizes_sizeValue').val("" + newVal + "");
            $('#size_label').addClass("active");
        }

        $("#selectSizes").change(changeVal);
    });
</script>
