{% extends 'backoffice/index.html.twig' %}

{% block specificcss %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row brown-text">
            <div class="col s6">
                <h4 class="dashboard"><i class=""></i> Éditer un produit</h4>
                <hr class="left account" />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <ul class="collapsible popout" data-collapsible="accordion">
                <li id="pictures">
                    <div class="collapsible-header">Gérer les photos du produit</div>
                    <div class="collapsible-body">
                        <span id="contenuPictures"></span>
                    </div>
                </li>
                <li id="categorie">
                    <div class="collapsible-header">Modifier la catégorie</div>
                    <div class="collapsible-body">
                        <span id="contenuCategorie"></span>
                    </div>
                </li>
                <li id="stock">
                    <div class="collapsible-header">Gérer les stocks</div>
                    <div class="collapsible-body">
                        <span id="contenuStock"></span>
                    </div>
                </li>
                <li id="reduc">
                    <div class="collapsible-header">Gérer les réductions</div>
                    <div class="collapsible-body">
                        <span id="contenuReduc"></span>
                    </div>
                </li>
                <li id="envoi">
                    <div class="collapsible-header">Gérer les méthodes d'expédition</div>
                    <div class="collapsible-body">
                        <span id="contenuEnvoi"></span>
                    </div>
                </li>
                <li id="taxe">
                    <div class="collapsible-header">Gérer les taxes sur le produit (taux en %age)</div>
                    <div class="collapsible-body">
                        <span id="contenuTaxe"></span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="left">
            <a href="{{ path("manageproducts") }}" class="waves-effect waves-light btn btn-success brown darken-1"><i class="fas fa-arrow-left fa-lg"></i> Retour</a>
        </div>
    </div>
{% endblock %}

{% block specificjs %}
    <script>
        $(document).ready(function() {
            $("#contenuPictures").load("{{ path('editproductspictures') }}");
            $("#contenuCategorie").load("{{ path('editcategory') }}");
            $("#contenuStock").load("{{ path('editstocks') }}");
            $("#contenuReduc").load("{{ path('editreducs') }}");
            $("#contenuEnvoi").load("{{ path('editenvoi') }}");
            $("#contenuTaxe").load("{{ path('edittaxes') }}");
        });
    </script>
{% endblock %}
