{% extends 'backoffice/index.html.twig' %}

{% block title %}Gérer mes produits :: Webcraft :: Craft magic websites within minutes !{% endblock %}

{% block specificcss %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/setup.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/backoffice.css') }}">
{% endblock %}


{% block content %}
<div class="container-fluid">
	<div class="row brown-text">
		<div class="col s6">
			<h4 class="dashboard"><i class="fas fa-barcode fa-lg"></i> Mes Produits</h4>
			<hr class="left account" />
		</div>
		<div class="col s6">
			<div class="dashboard right">
				<a href="{{ path('addproducts') }}" class="modal-trigger btn orange lighten-2 brown-text"><i class="far fa-plus-square fa-lg"></i> <span>Ajouter un produit</span></a>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row brown-text">
		<div class="col s12">
            <table class="bordered striped highlight responsive-table brown-text centered">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Visuel</th>
                        <th>Prix</th>
                        <th>Taux de réduction</th>
                        <th>Catégorie</th>
                        <th>Gestion du produit</th>
                    </tr>
                </thead>
                <tbody>
                {% for prod in products %}
                    <tr>
                        <td>{{ prod.getProductName }}</td>
                        <td>{{ prod.getProductDescription }}</td>

                        {% set findPic = false %}
                        {% for pics in pictures %}
                            {% if (pics.getProduct.productId == prod.getProductId) and (findPic == false) %}
                                <td>
                                    <img src="{{ asset(pics.getImage) }}" alt="{{ prod.getProductDescription }}" class="imgsmall materialboxed tooltipped" data-position="bottom" data-delay="50" data-tooltip="Cliquez pour agrandir">
                                </td>
                                {% set findPic = true %}
                            {% endif %}
                        {% endfor %}
                        <td>
                            {% if prod.getProductSale is null %}
                                {{ prod.getProductPrice }}€
                            {% else %}
                                <span class="green-text">{{ prod.getProductPrice * (1 - (prod.getProductSale / 100)) }}€</span> <span style="font-style: italic;">({{ prod.getProductPrice }}€)</span>
                            {% endif %}
                        </td>

                        {% if prod.getProductSale is null %}
                        <td style="font-style: italic">(aucun)</td>
                        {% else %}
                        <td>{{ prod.getProductSale }}%</td>
                        {% endif %}

                        {% set hasCat = false %}
                        {% for cat in categories %}
                            {% if cat.product == prod.getProductId %}
                                <td>{{ cat.categoryValue|upper }}</td>
                                {% set hasCat = true %}
                            {% endif %}
                        {% endfor %}
                        {% if hasCat == false %}
                            <td style="font-style: italic">(aucune)</td>
                        {% endif %}
                        <td>
                            <button data-target="modal{{ prod.getProductId }}" class="btn green lighten-2 tooltipped modal-trigger" data-position="left" data-tooltip="Aperçu"><span class="fa fa-search white-text"></span></button>
                            <a href="{{ path('editproduct', {"idProduit" : prod.getProductId}) }}" class="btn orange lighten-2 tooltipped" data-position="right" data-tooltip="Modifier"><span class="fa fa-edit white-text"></span></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
		</div>
	</div>
</div>
{% for prod in products %}
    {% set isSizesEmpty = 0 %}
    <div id="modal{{ prod.getProductId }}" class="modal bottom-sheet">
        <div class="modal-content">
            <h5>Stock par taille et couleur</h5>
            {% for stk in stock %}
                {% if stk.product == prod.getProductId %}
                    <p>{{ stk.stockValue }} produits de taille {{ stk.sizeValue }} et de couleur {{ stk.colorValue }}</p>
                    {% set isSizesEmpty = 1 %}
                {% endif %}
            {% endfor %}
            {% if isSizesEmpty == 0 %}
                <p class="red-text bold">Le stock est vide !</p>
            {% endif %}

            <h5>Taxes effectives</h5>
            {% if prod.getTax is not null %}
                {% for tax in taxes %}
                    {% if tax.getTaxId == prod.getTax %}
                        <p>{{ tax.getTaxName }} : {{ tax.getTaxValue }}</p>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p class="red-text bold">Ce produit ne perçoit aucune taxe !</p>
            {% endif %}

            <h5>Méthodes d'expédition</h5>
            {% for ship in shipment %}
                <p>"{{ ship.shipmentMethod }}", pour le prix de {{ ship.getPrice }}€</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}
{% endblock %}

{% block specificjs %}
    <script async type="text/javascript" src="{{ asset('js/account.js') }}"></script>
{% endblock %}
