{% extends 'backoffice/index.html.twig' %}

{% block title %}Modifier une page :: Webcraft :: Craft magic websites within minutes !{% endblock %}

{% block specificcss %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/setup.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/backoffice.css') }}" />
{# 	<link rel="stylesheet" type="text/css" href="{{ asset('css/wysiwyg.css') }}" /> #}
{% endblock %}


{% block content %}
    {#<script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>#}
    <script src="{{ asset('js/ckeditor.js') }}"></script>

    <div class="container-fluid">
	<div class="row">
		<div class="col s6">
			<h4 class="dashboard brown-text"><i class="far fa-edit fa-lg"></i> Modifier ma page : {{ page.pagename }}</h4>
            <hr class="left settings" />
		</div>
	</div>
	<div class="row">
        <div class="col s3 brown-text">
            {% if pages is not empty %}
            <fieldset>
                <legend>Mes Pages</legend>
                    <ul>
                    {% for page in pages %}
                        <li><a href="{{ path('editpage', {'id': page.pageId}) }}" class="brown-text tooltipped" data-position="right" data-tooltip="Cliquez pour modifier la page"><i class="far fa-edit fa-2x"></i> {{ page.pagename }}</a></li>
                    {% endfor %}
                    </ul>
            </fieldset>
            {% endif %}
        </div>
        <div class="col s9 grey lighten-4">
        	{{ form_start(form) }}
                {% if not form.vars.valid %}
                    <div class="error">
                        {{ form_errors(form) }}
                    </div>
                {% endif %}
            <div class="input-field">
            {{ form_label(form.page_name) }}
            {{ form_widget(form.page_name) }}
            </div>
            <div class="input-field">
                {{ form_label(form.page_title) }}
                {{ form_widget(form.page_title) }}
            </div>
            <label>{{ form_label(form.page_date) }}</label>
            <div class="input-field">
                {{ form_widget(form.page_date) }}
            </div>
            <label>{{ form_label(form.page_modified) }}</label>
            <div class="input-field">
                {{ form_widget(form.page_modified) }}
            </div>
            <label>{{ form_label(form.page_content) }}</label>
            <div class="input-field">
                {{ form_widget(form.page_content) }}
            // <script>
            //     CKEDITOR.replace('editor1');
            // </script>
            </div>
            {% if categories is not empty %}
                <label>{{ form_label(form.category_name, 'Catégorie') }}</label>
                <div class="input-field">
                    {{ form_widget(form.category_name) }}
                </div>
            {% elseif categories is empty %}
                <div class="card-panel brown lighten-4 brown-text">
                    <i class="fas fa-exclamation-circle fa-lg"></i>
                    Vous n'avez pas encore créé de catégorie de page. <a data-target="new_page_cat"class="modal-trigger btn brown white-text"><i class="far fa-plus-square fa-lg"></i> <span>Ajouter une catégorie</span></a>
                </div>
            {% endif %}
            <label>{{ form_label(form.comment_status) }}</label>
            <div class="input-field">
                {{ form_widget(form.comment_status) }}
            </div>
            <label>{{ form_label(form.page_status) }}</label>
            <div class="input-field">
                {{ form_widget(form.page_status) }}
            </div>
            <div class="right">
                <button type="submit" class="waves-effect waves-light btn btn-success orange lighten-2"><i class="fas fa-paper-plane fa-lg"></i> Valider</button>
            </div>
            {{ form_end(form)}}
        </div>
	</div>
</div>
<div id="new_page_cat" class="modal brown-text">
    <div class="modal-content">
        <h4>Ajouter une catégorie</h4>
          <hr class="left account" />
          {{ form_start(catForm) }}
            {% if not form.vars.valid %}
                <div class="error">
                    {{ form_errors(catForm.category_name) }}
                </div>      
            {% endif %}
            <div class="input-field">
                {{ form_label(catForm.category_name) }}
                {{ form_widget(catForm.category_name) }}
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="modal-action modal-close waves-effect waves-light btn btn-success orange lighten-2"><i class="fas fa-paper-plane fa-lg"></i> Valider</button>
        {{ form_end(catForm) }}
        </div>
    </div>
</div>
{% endblock %}

{% block specificjs %}
    <script type="text/javascript" src="{{ asset('js/account.js') }}"></script>  
{% endblock %}
