{% extends 'backoffice/index.html.twig' %}

{% block title %}Gérer mes pages :: Webcraft :: Craft magic websites within minutes !{% endblock %}

{% block specificcss %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/setup.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('css/backoffice.css') }}">
{% endblock %}


{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col s6">
			<h4 class="dashboard brown-text"><i class="far fa-copy fa-lg"></i> Gérer mes pages</h4>
			<hr class="left account" />
		</div>
		<div class="col s6">
			<div class="dashboard right">
				<a href="{{ path('newpage') }}" class="btn orange lighten-2 brown-text"><i class="far fa-plus-square fa-lg"></i> <span>Créer une page</span></a>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row brown-text">
		<div class="col s12">
			{% if pages is empty %}
				<div class="card-panel brown lighten-4 brown-text">
					<i class="fas fa-exclamation-circle fa-lg"></i>
					Vous n'avez pas encore créé de page pour votre site. <a href="{{ path('newpage') }}" class="btn brown white-text"><i class="far fa-plus-square fa-lg"></i> <span>Créer une page</span></a>
				</div>

			{% elseif pages is not empty %}	
			<table class="bordered striped highlight responsive-table brown-text">
				<thead>
					<tr>
						<th>Nom de la page</th>
						<th>Titre de la page</th>
						<th>Date de création</th>
						<th>Statut</th>
						<th>Commentaires</th>
						<th>Catégorie</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					{% for page in pages %}
						<tr>
							<td>{{ page.pagename|e }}</td>
							<td>{{ page.pagetitle|e }}</td>
							<td>{{ page.pagedate|date('d-M-y') }}</td>
							{% if page.pagestatus == "masquer" %}
								<td>{{ "Brouillon" }}</td>
							{% elseif page.pagestatus == "afficher" %}
								<td>{{ "Publiée" }}</td>
							{% endif %}
							{% if page.commentstatus == "masquer" %}
								<td>{{ "Désactivés" }}</td>
							{% elseif page.commentstatus == "afficher" %}
								<td>{{ "Activés" }}</td>
							{% endif %}
							<td>{{ page.categoryname|e }}</td>
							<td>
							<a href="{{ path('editpage', {'id': page.pageId}) }}" class="btn orange lighten-2 tooltipped" data-position="top" data-tooltip="Cliquez pour modifier la page"><i class="far fa-edit brown-text"></i></a>
							<a href="#del{{ page.pageID }}" class="btn red darken-2 tooltipped modal-trigger" data-position="right" data-tooltip="Cliquez pour supprimer la page"><i class="fa fa-trash white-text"></i></a>
                                <div id="del{{ page.pageID }}" class="modal">
                                    <div class="modal-content">
                                        <h4>Suppression</h4>
                                        <p>Voulez-vous vraiment supprimer cette page ?</p>
                                        <p class="red-text" style="font-weight: bold">Attention, cette action sera irréversible.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a class="modal-action modal-close waves-effect waves-green btn-flat">Retour</a>
                                        <a href="{{ path('deletepage', {'id': page.pageId}) }}" class="btn-flat red darken-2 white-text modal-action modal-close waves-effect waves-green btn-flat">Supprimer</a>
                                    </div>
                                </div>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
		</div>
	</div>
</div>
{% endblock %}

{% block specificjs %}
    <script>
        $(document).ready(function(){
            // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
            $('.modal').modal();
        });
    </script>
{% endblock %}
