{% extends 'backoffice/index.html.twig' %}

{% block title %}Gérer mes pages :: Webcraft :: Craft magic websites within minutes !{% endblock %}

{% block specificcss %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/setup.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('css/backoffice.css') }}">
{% endblock %}


{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col s6">
			<h4 class="dashboard brown-text"><i class="far fa-copy fa-lg"></i> Gérer mes pages</h4>
			<hr class="left account" />
		</div>
		<div class="col s6">
			<div class="dashboard right">
				<a href="{{ path('newpage') }}" class="btn orange lighten-2 brown-text"><i class="far fa-plus-square fa-lg"></i> <span>Créer une page</span></a>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row brown-text">
		<div class="col s12">
			{% if pages is empty %}
				<div class="card-panel brown lighten-4 brown-text">
					<i class="fas fa-exclamation-circle fa-lg"></i>
					Vous n'avez pas encore créé de page pour votre site. <a href="{{ path('newpage') }}" class="btn brown white-text"><i class="far fa-plus-square fa-lg"></i> <span>Créer une page</span></a>
				</div>

			{% elseif pages is not empty %}	
			<table class="bordered striped highlight responsive-table brown-text">
				<thead>
					<tr>
						<th>Nom de la page</th>
						<th>Titre de la page</th>
						<th>Date de création</th>
						<th>Statut</th>
						<th>Commentaires</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					{% for page in pages %}
						<tr>
							<td>{{ page.pagename|e }}</td>
							<td>{{ page.pagetitle|e }}</td>
							<td>{{ page.pagedate|date('d-M-y') }}</td>
							<td>{{ page.pagestatus|e }}</td>
							<td>{{ page.commentstatus|e }}</td>
							<td>
							<a href="{{ path('editpage', {'id': page.pageId}) }}" class="btn orange lighten-2 tooltipped" data-position="top" data-tooltip="Cliquez pour modifier la page"><i class="far fa-edit brown-text"></i></a>
							<a href="{{ path('deletepage', {'id': page.pageId}) }}" class="btn red darken-2 tooltipped" data-position="right" data-tooltip="Cliquez pour supprimer la page"><i class="fa fa-trash white-text"></i></a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
		</div>
	</div>
</div>
{% endblock %}

{% block specificjs %}

{% endblock %}
