{% extends 'backoffice/index.html.twig' %}

{% block title %}Créer mon menu :: Webcraft :: Craft magic websites within minutes !{% endblock %}

{% block specificcss %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/setup.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('css/backoffice.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('jquery-ui/jquery-ui.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('jquery-ui/jquery-ui.structure.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('jquery-ui/jquery-ui.theme.min.css') }}">
{% endblock %}


{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col s6">
			<h4 class="dashboard brown-text"><i class="fas fa-list-ol fa-lg"></i> Créer le menu de mon site</h4>
			<hr class="left account" />
    	</div>
    	<div class="col s6">
    		<div id="title" class="card-panel orange lighten-5 brown-text">
    			<h6><i class="fas fa-info-circle fa-lg"></i> C'est ici que vous allez générer le menu principal de votre site.<br />
    				Sélectionnez une page parmi celles que vous avez créées et cliquez sur ajouter !</h6>
    		</div>
    	</div>
	</div>
</div>
<div class="container">
	<div class="row">
        {% set total = 0 %}
        {% set globalcpt = 1 %}

        {% for pag in pages %}
            {% set total = (total + 1) %}
        {% endfor %}
        {% if total > 5 %}
            {% set total = 5 %}
        {% endif %}
        {{ form_start(form) }}
        <h5>Sélectionnez les 5 pages que vous souhaitez voir apparaître sur le menu</h5>
            <div class="col s12">
                <ul id="sortable" class="collection">
                    {% set i = 0 %}
                    {% for page in pages %}
                        {% if i < 5 %}
                            <li class="ui-state-default collection-item green lighten-1 white-text" id="{{ page.pageName }}"><span class="fa fa-arrows-alt"></span> {{ page.pageName }}</li>
                            {% set i = (i + 1) %}
                        {% else %}
                            <li class="ui-state-default collection-item" id="{{ page.pageName }}"><span class="fa fa-arrows-alt"></span> {{ page.pageName }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <div class="right">
                    <button type="submit" class="btn purple darken-2 white-text"><i class="fa fa-random white-text"></i> Ordonner</button>
                </div>
            </div>

        {{ form_widget(form.pageName) }}
        {{ form_end(form) }}
	</div>
</div>

{% endblock %}

{% block specificjs %}
    <script src="{{ asset('jquery-ui/jquery-ui.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('#sortable').sortable({
                stop: function( event, ui ) {
                    var itemOrder = $('#sortable').sortable("toArray");

                    var j = 0;
                    var tab = [];

                    for (var i = 0; i < itemOrder.length; i++) {
                        $("#" + itemOrder[i]).removeClass("green lighten-1 white-text");

                        if (j < 5) {
                            $("#" + itemOrder[i]).addClass("green lighten-1 white-text");
                            tab.push(itemOrder[i]);
                            j++;
                        }
                    }
                    $("#menu_pageName").val(tab);
                }
            });
        });
    </script>
{% endblock %}
