{% extends 'backoffice/index.html.twig' %}

{% block title %}Options :: Webcraft :: Craft magic websites within minutes !{% endblock %}

{% block specificcss %}

{% endblock %}


{% block content %}
<div class="container-fluid brown-text">
	<div class="row">
		<div class="col s6">
			<h4 class="dashboard"><i class="fas fa-toggle-on fa-lg"></i> Options</h4>
			<hr class="left account" />
		</div>
		<div class="col s6">
			<div id="title" class="card-panel orange lighten-5 brown-text">
				<i class="fas fa-question-circle fa-lg"></i>
				<span>Activez des options ici que vous pourrez utiliser dans vos pages.</span>
			</div>
		</div>
	</div>
</div>
<div class="container brown-text">
	<div class="row">
		<div class="col s12 m4">
			<div class="card-panel center brown-text">
				<i class="far fa-envelope fa-3x orange-text"></i>
				<h5 class="promo-caption">
					Module de contact
					<hr />
				</h5>
				<p class="light-caption">
					Ajoutez une page de contact à votre site avec un formulaire permettant à vos visiteurs de vous joindre, vos informations ainsi qu'un module Google Maps renvoyant votre localisation.
					{% if contact is empty %}
						<a href="#contact_modal" class="btn orange lighten-2 brown-text modal-trigger" data-target="contact_modal">Activer ce module</a>
					{% elseif contact is not empty %}
						<div class="btn disabled">
							Module activé
						</div>

						{% set i = 0 %}
						{% set j = 0 %}
						{% set reset = false %}

						{% for md in mod %}
							{% if reset == false %}
								{% set i = (i + md.id) %}
								{% set reset = true %}
							{% endif %}

							{% if md.optionname == 'contact' %}
								{% set j = i %}
							{% else %}
								{% set i = (i + 1) %}
							{% endif %}

						{% endfor %}
								

						<a href="{{ path('disablemodule', {'id': j}) }}" class="btn red darken-2 white-text">Désactiver</a>
					{% endif %}

				</p>
			</div>
		</div>
		<div class="col s12 m4">
			<div class="card-panel center brown-text">
				<i class="far fa-envelope fa-3x orange-text"></i>
				<h5 class="promo-caption">
					Module de newsletter
					<hr />
				</h5>
				<p class="light-caption">
					Permettez à vos visiteurs de s'abonner à votre lettre d'informations.
					<a class="modal-trigger btn orange lighten-2 brown-text" data-target="">Activer ce module</a>
				</p>
			</div>
		</div>

	</div>
	<div id="contact_modal" class="modal">
    <div class="modal-content">
      <h4>Module de Contact</h4>
      {{ form_start(activContact) }}
    		{% if not activContact.vars.valid %}
                <div class="error">
                	{{ form_errors(activContact.optionname) }}
                    {{ form_errors(activContact.optionvalue) }}
                </div>      
            {% endif %}
            <label>{{ form_label(activContact.optionvalue, 'Sélectionnez la page où appliquer le module de contact') }}</label>
            <div class="input-field">                
                {{ form_widget(activContact.optionvalue) }}
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="modal-action modal-close waves-effect waves-light btn btn-success orange lighten-2"><i class="fas fa-paper-plane fa-lg"></i> Valider</button>
        </div>
    {{ form_end(activContact) }}
	</div>
</div>
{% endblock %}

{% block specificjs %}
	<script type="text/javascript" src="{{ asset('js/account.js') }}"></script>
{% endblock %}
