<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}WebCraft :: Craft magic websites within minutes ! ::{% endblock %}</title>
	{% block stylesheets %}
		<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/fa-svg-with-js.css') }}">
		<link rel="stylesheet" href="{{ asset('css/materialize.min.css') }}" />
		<link rel="stylesheet" href="{{ asset('css/fonts.css') }}" />
		<link rel="stylesheet" href="{{ asset('css/setup.css') }}" />
	{% endblock %}
</head>
<body>
	<div class="container">
		{% block header %}
			<header>
				{% block logo %}
					<div class="center-align">
	            	<a href="{{ path('setup') }}"><img src="{{ asset('img/webcraft_logo_black.png')}}" class="responsive-img"></a>
	        		</div>
				{% endblock %}

				{% block nav %}
				{% endblock %}
			</header>		
		
		{% endblock %}
		
		
		{% block content %}
			{% block contentTitle %}{% endblock %}
			
		{% endblock %}
		
		
	</div>
	<footer>
		{% block footer %}
			<p class="center-align">&copy; 2018 - The WebCraft Team</p>
		{% endblock %}
	</footer>
	{% block javascripts %}
		<script type="text/javascript" src="{{ asset('js/fontawesome-all.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/materialize.min.js') }}"></script>
	{% endblock %}
</body>
</html>