{% extends ('setup/setup.html.twig') %}

{% block nav %}
	<div class="row">
		<div class="setupNav center-align">
			<a href="{{ path('setup') }}" class="btn-floating btn-large waves-effect waves-light grey lighten-2"><i class="fas fa-database fa-lg inactive"></i></a>............
			<a href="{{ path('setup2') }}" class="btn-floating btn-large waves-effect waves-light orange lighten-2"><i class="fas fa-tv fa-lg active"></i></a>............
			<a href="{{ path('setup3') }}" class="btn-floating btn-large waves-effect waves-light grey lighten-2"><i class="far fa-user fa-lg inactive"></i></a>
		</div>
	</div>
{% endblock %}

{% block content %}
	{% block contentTitle %}
		<div class="title center-align">
			<i class="fas fa-tv fa-3x"></i>
			<h4> Etape 2 :: Les informations de votre site</h4>
			<hr>
		</div>
	{% endblock %}

	{{ form_start(form) }}
		{% if not form.vars.valid %}
			<div class="error">
				{{ form_errors(form.optionname) }}
				{{ form_errors(form.optionvalue) }}
				{{ form_errors(form.sitetype) }}
			</div>
		{% endif %}
		<div class="input-field">
			{{ form_label(form.optionname) }}
			{{ form_widget(form.optionname) }}
		</div>
		<div class="input-field">
			{{ form_label(form.optionvalue) }}
			{{ form_widget(form.optionvalue) }}
		</div>
			{{ form_label(form.sitetype) }}
			{{ form_widget(form.sitetype) }}

		    {{ form_widget(form.description) }}

	<div class="right">
			<button type="submit" class="waves-effect waves-light btn btn-success orange lighten-2"><i class="fas fa-paper-plane fa-lg"></i> Valider</button>
		</div>
	{{ form_end(form) }}
{% endblock %}